<!-- Lecture 32 :   Header with Routing in Angular.   

<nav>
    <h2>logo</h2>   

<ul>

    <li>
    <a  routerLinkActive="active" routerLink=""  [routerLinkActiveOptions]="{exact : true}">Home    </a><br><br>
    </li>

<li>
    <a routerLinkActive="active" routerLink="/login">login</a><br><br>
</li>

<li>
    <a  routerLinkActive="active" routerLink="/about">About Us </a><br><br>
</li>

<li>    
    <a routerLinkActive="active" routerLink="/contact">Contact Us</a><br><br>
</li>

</ul>
</nav>
-->