/* css for the counter app  */
/*
.heading1{
    text-align: center;
    font-size: 50px;
    color: springgreen;
    background-color: lightcoral;
    margin-top: 30px;
    margin-bottom: 50px;
}

.btn{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    color: white;
    margin: 20px;
    cursor: pointer;
    border: 1px solid black;
}

.bg-red{
    background-color: rgb(225, 39, 39);
}

.bg-black{
    background-color: black;
}

.bg-green{
    background-color: rgb(50, 188, 50);
}

.btn :hover{
    border: 1px solid white;
}

.count{
    width: 100px;
    background-color: aqua;
    padding: 20px;
    border-radius: 30px;
    font-size: 30px;
    margin: auto;
    margin-bottom: 30px;
}

*/








/*  this css code for the concept of style option in angular  */

/*
h1{
    text-align: center;
    background-color: lightcoral;
    color: white;
    padding: 20px;

}*/










/* this css for lecture 25  : TO DO LIST IN ANGULAR 

.tasklist{
    display: flex;
    justify-content: space-between;
}
*/








/* Lecture 38 : Form Grouping Reactive Form in Angualr

input{
    margin-left: 30px;
    margin-top: 20px;
}

button{
   margin-left: 30px;
    margin-top: 20px; 
}
*/




/* Lecture 39 : Reactive form Validation in Angular.  

.error{
    color: red;
}

.display{
    color: blue;
}
*/




/*  Lecture 40 : Template Driven Form in Angular. 
input{
    margin-left: 30px;
    margin-top: 20px;
}

button{
   margin-left: 30px;
    margin-top: 20px; 
}

select{
   margin-left: 30px;
    margin-top: 20px;  
}
*/







/* Lecture 41 : Template Driven Form Validation in Angular-->*/
/*

input{
    margin-left: 30px;
    margin-top: 20px;
}

button{
   margin-left: 30px;
    margin-top: 20px; 
}

select{
   margin-left: 30px;
    margin-top: 20px;  
}

.error{
    color: red;
}
    */


/* Lecture 54 : POST API in angualar  

input{
    margin-top: 20px;
    margin-left: 30px;
}

button{
     margin-top: 40px;
    margin-left: 30px;
}
*/






/* Lecture 55 : Delete API in angualar  

input{
    margin-top: 20px;
    margin-left: 30px;
}


.user{
     margin-top: 30px;
     margin-left: 30px;
}

.delete{
     margin-top: 10px;
     background-color: black;
     color: green;
     font-size: 20px;
}

*/


/*  Lecture 56 : Populate Data in input fields with API


input{
    margin-top: 20px;
    margin-left: 30px;
}


.user{
     margin-top: 30px;
     margin-left: 30px;
}

.delete{
    margin-top: 10px;
     background-color: black;
     color: green;
     font-size: 20px;
}


.update{
 margin-top: 10px;
 background-color: magenta;
 font-size: 20px;
 color: white;
}
*/





/* Lecture 57 : Upadate data with PUT API method
input{
    margin-top: 20px;
    margin-left: 30px;
}


.user{
     margin-top: 30px;
     margin-left: 30px;
}

.delete{
    margin-top: 10px;
     background-color: black;
     color: green;
     font-size: 20px;
}


.update{
 margin-top: 10px;
 background-color: magenta;
 font-size: 20px;
 color: white;
}
*/

 





