<!--     counter app
<h1 class="heading1">Counter App</h1>

<div style="text-align: center">
    <h2 class="count">{{count}}</h2>
<div>
                    
<button (click)="counter('minus')" class="btn bg-red">Decrement
</button>

<button  (click)="counter('reset')" class="btn bg-black">Reset</button>

<button (click)="counter('plus')" class="btn bg-green">Increment
 </button>   

</div>  
</div>         
 -->     



                                                                                                <!-- here we understand the event concept  in angular


                                                                                                <h1 style="text-align: center;">Evenet in Angular</h1>

                                                                                                <button class="btn1" name = "login" (click)="eventcalling($event)">Click Event</button>

                                                                                                <br>
                                                                                                <br>
                                                                                                <br>

                                                                                                ///this is first div
                                                                                                <div style="background-color: crimson; width: 150px; height: 100px; border: 3px solid black; margin-bottom: 50px;"
                                                                                                (mouseenter)="eventcalling($event)">
                                                                                                </div>



                                                                                                <div style="background-color: lawngreen; width: 150px; height: 100px; border: 3px solid black; margin-bottom: 50px;"
                                                                                                (mouseleave)="checkEvent($event)">
                                                                                                </div>

                                                                                                <input type="text"
                                                                                                (focus)="otherEvent($event)" 
                                                                                                (blur)="otherEvent($event)"
                                                                                                (input)="otherEvent($event)"        
                                                                                                name = "user">

                                                                                                -->
                                                                                                    












                                                                            <!--    this concept is Get and Set input filed value 


                                                                            <h1 style="text-align: center;">Get and Set input filed value</h1><br><br>


                                                                            <h2>User Name is : {{displayName}}</h2>

                                                                            <input type="text" value = "{{name}}" (input)="getName($event)"  
                                                                            placeholder="Enter User Name "><br><br>



                                                                            <button (click)="showName()">Get Name </button><br><br>

                                                                            <button (click)="setName()">Set Name </button><br><br>

                                                                            <hr>


                                                                            <h1>Get and Set using template refrence variable</h1>
                                                                            <h2> Email is : {{email}} </h2>
                                                                            <input type="text" value="{{email}}" placeholder="Enter Email" #emailfiled><br><br>

                                                                            <button (click)="getemail(emailfiled.value)">Get Email</button><br><br>


                                                                            <button (click)="setemail()">Set Email</button><br><br>


                                                                            -->






                                                                            <!--    here we understand style option in angular  

                                                                        <h1>Style Rules and Option</h1>

                                                                        <app-profile></app-profile>


                                                                        <style>
                                                                            h2{
                                                                                text-align: center;
                                                                                background-color :red;
                                                                            }
                                                                        </style>
                                                                        <h2 style="color: rgb(205, 164, 17);">This is my Page </h2>


                                                                        -->








                                                                    

                                                                <!--  HERE  IF / ELSE AND CONTROL CONCEPT IN ANGULAR 

                                                                <h1>If Else and Controll</h1>


                                                                @if(display){
                                                                    <div style="width: 200px; height: 150px; background-color: crimson;">
                                                                    </div>
                                                                    <br><br>
                                                                    }


                                                                <button (click)="hide()">Hide Div</button><br><br>

                                                                <button (click)="show()">Show Div</button><br><br>

                                                                <button (click)="toggle()">Toggle Div</button><br><br>

                                                                <hr>


                                                                <h2>another example of toggle with button click</h2><br><br>

                                                                @if(togglediv){
                                                                    <div style="background-color: blueviolet; height: 150px; width: 200px;">
                                                                    </div><br>
                                                                }
                                                                @else{
                                                                    <div style="background-color :lime; height: 150px; width: 200px;">
                                                                    </div><br>
                                                                    }

                                                                <button (click)="toggle2()">Toggle Div</button><br><br>
                                                                <hr>


                                                                    ////   This is a example of update button text with toggle 
                                                                    
                                                                <h2>update button text with toggle </h2>

                                                                @if(update){
                                                                <div style="background-color: coral; width: 250px; height: 200px;">
                                                                </div><br>
                                                                }

                                                                @else {
                                                                <div style="background-color :cyan; width: 250px; height: 200px;">
                                                                </div><br>

                                                                }

                                                                <button (click)="updatetoggle()">{{update ?'show cyan div' : 'show coral div'}}</button>

                                                                ///   this is for understand concept  
                                                                @if(x < 10){
                                                                    <div style="width: 200px; height: 150px; background-color: crimson;">
                                                                    </div>
                                                                    }

                                                                -->









                                                                <!--    This is else - if concept in angular


                                                                <h1 style="text-align: center;">else if concept in angular</h1>


                                                                <button style="margin-left: 20px; margin-bottom: 20px;"  (click)="handleCOlor(1)">Darkmagenta</button>


                                                                <button style="margin-left: 20px; margin-bottom: 20px;"  (click)="handleCOlor(2)">Darkgreen</button>


                                                                <button style="margin-left: 20px; margin-bottom: 20px;"  (click)="handleCOlor(3)">Hotpink</button>


                                                                <button style="margin-left: 20px; margin-bottom: 20px;"  (click)="handleCOlor(4)">Sienna</button>


                                                                <button style="margin-left: 20px; margin-bottom: 20px;"  (click)="handleCOlor(5)">Orangered</button>

                                                                <button style="margin-left: 20px; margin-bottom: 20px;"  (click)="handleCOlor(101)">Others</button>



                                                                <input type="text"  style="margin-left: 30px;" placeholder="Enter color number " (input)="handleInput($event)">


                                                                // this code for the div element
                                                                @if(color == 1){
                                                                <div style="background-color: darkmagenta; margin-left: 30px; height: 100px; width: 150px;"></div>
                                                                }

                                                                @else if(color == 2){
                                                                <div style="background-color :darkgreen ; margin-left: 30px; height: 100px; width: 150px;"></div>
                                                                }

                                                                @else if(color == 3){
                                                                <div style="background-color :hotpink; margin-left: 30px; height: 100px; width: 150px;"></div>
                                                                }

                                                                @else if(color == 4){
                                                                <div style="background-color :sienna ; margin-left: 30px; height: 100px; width: 150px;"></div>
                                                                }


                                                                @else if(color == 5 ){
                                                                <div style="background-color:orangered; margin-left: 30px; height: 100px; width: 150px;"></div>
                                                                }

                                                                @else {
                                                                    <div style="background-color: black; margin-left: 30px; height: 100px; width: 150px;"></div>
                                                                }   

                                                                -->













                                                                <!--   This is a switch statment in angular

                                                                <h1 style="text-align: center;">Switch Case in Angular</h1>
                                                                


                                                                @switch (color) {
                                                                    @case ('red') {
                                                                    <h2 style="background-color: red;">It is my red Color</h2>
                                                                    }

                                                                    @case ('darkcyan') {
                                                                    <h2 style="background-color:darkcyan;">It is my darkcyan Color</h2>
                                                                    }

                                                                    @case ('lawngreen') {
                                                                    <h2 style="background-color : lawngreen">It is my lawn green Color</h2>
                                                                    }

                                                                    @case ('hotpink') {
                                                                    <h2 style="background-color :hotpink;">It is my hotpink  Color</h2>
                                                                    }

                                                                    @default {
                                                                    <h2 style="background-color :black; color: wheat;">Color is not match</h2>  
                                                                    }
                                                                }



                                                                <button style="margin-left: 20px; margin-bottom: 20px;" (click)="updateColor('red')">Red</button>

                                                                <button style="margin-left: 20px; margin-bottom: 20px;" (click)="updateColor('darkcyan')">Darkcyan</button>

                                                                <button style="margin-left: 20px; margin-bottom: 20px;" (click)="updateColor('lawngreen')">Lawngreen</button>

                                                                <button style="margin-left: 20px; margin-bottom: 20px;" (click)="updateColor('hotpink')">Hotpink</button>

                                                                <button style="margin-left: 20px; margin-bottom: 20px;" (click)="updateColor('black')">Other</button>

                                                                <input type="text" style="margin-left: 20px; margin: bottom 20px;"  placeholder="eneter color name " (input)="changeinput($event)">

                                                                    
                                                                -->





















                                                                <!--    This is for loop in angular


                                                                <h1 style="text-align: center;">For loop in angular</h1>


                                                                //We can also write this way but this is not better way. we can used for loop for better result.   

                                                                <h2>{{users[0]}}</h2>

                                                                <h2>{{users[2]}}</h2>

                                                                <h2>{{users[4]}}</h2>

                                                                <h2>{{users[3]}}</h2>
                                                                



                                                                @for (val of users; track val) {
                                                                    <h2>{{val}}</h2>
                                                                }

                                                                <hr>


                                                                @for (details of students; track details.name; let id = $index) {
                                                                    <h2>
                                                                        
                                                                        <span style="margin-left: 15px;"> {{id + 1}} </span> 

                                                                    <span style="margin-left: 15px;"> {{details.name}} </span> 
                                                                    <span style="margin-left: 15px;"> {{details.age}} </span>
                                                                    <span style="margin-left: 15px;"> {{details.city}} </span>

                                                                    <button (click)="getName(details.name)" (click)="getName(details.city)" style="margin-left: 15px;">Get Details </button>
                                                                    </h2>

                                                                }
                                                                -->





                                                                    





                                                <!--                  Signal in Angular        

                                                // it is simple example of property and signal   


                                                            <h1 style="text-align: center;">Basic of Signal in Angular</h1>

                                                            <h2>count value is {{count()}}</h2>

                                                            <h2>Value of x is : {{x}}</h2><br><br>

                                                            <button (click)="count.set(150)">Increse Signal</button><br><br>

                                                            <button (click)="x = (10)">Increse Property</button><br>
                                                -->
                                                            
                                                    
                                                                


                                                <!--  
                                                                in  this example we see that diffrence between a signal and property  
                                                                
                                                            <h2>Count value is : {{count()}}</h2>

                                                            <h2>Property value is {{y}}</h2>

                                                            <button (click)="updateval()">Update Value</button>

                                                                    <hr>
                                                -->


                                                        
                                                <!--
                                                            this code for the counter app using signal concept in angular    

                                                <h1 style="text-align: center;">Counter App using Signal</h1>

                                                            <button (click)="counterVal('dec')">Decrement</button>

                                                            <h2>{{count1()}}</h2>

                                                            <button (click)="counterVal('inc')">Increment</button>

                                                -->




                                                            
                                                <!--   You can alos write this code also instead of above code 

                                                    ---------- counter app code 1  : 

                                                                
                                                <h1 style="text-align: center;">Counter App using Signal</h1>

                                                <button (click)="count1.set(count1() - 1)">Decrement</button>
                                                <h2>{{count1()}}</h2>
                                                <button (click)="count1.set(count1() + 1)">Increment</button>
                                                -->     











                                                <!--  lecture 20: this is datatype in signal in angular



                                                // This example is Define Datatype for value of signal
                                                means signale ne value na datatype mate che 

                                                <h1 style="text-align: center;">Data types with Signal</h1>

                                                <h2>{{data()}}</h2>

                                                <button (click)="updateSignal()">Update</button>
                                                    


                                                //// Define Datype for Signal 

                                                <h1 style="text-align: center;">Data types with Signal</h1>

                                                <h2>{{data1()}}</h2>

                                                <button (click)="updateSignal1()">Update Value</button>



                                                ////  Define Datype for Define Datype for Both Signal and Signal’s Value 

                                                <h1 style="text-align: center;">Data types with Signal</h1>

                                                <h2>{{data1()}}</h2>

                                                <button (click)="updateSignal1()">Update Value</button>



                                                //// this is oher type of signal and name is this signal is computed signal     
                                                <h2>{{count()}}</h2>



                                                //// here we used update method in signal.

                                                <h1>Data type with signal</h1>

                                                <h2>{{data2()}}</h2>

                                                <button (click)="updateData2()">update data</button>

                                                -->










                                                <!--    Lecture 21 : Compued Signal in Angualr


                                                <h1 style="text-align: center;">Computed Signal in Angular</h1>

                                                //   here we are used property in this example not using computed sih=gnal 
                                                <button (click)="showVal()">Show Value</button><br><br>



                                                // here in this example we used computed signal   

                                                <h2>{{c()}}</h2>

                                                <button (click)="showval()">Show Value</button><br><br>

                                                <button (click)="updateA()">Update A</button>
                        -->
                                                                















                        <!---       Lecture 22 : Effect in Angular  

                        /////////    it is a simple example of effect 
                                    <h1 style="text-align: center;">Effecs in Angular</h1><br>

                                    <h2>{{username()}}</h2><br>
                                                                    
                                    <button (click)="username.set('shivam kansara')">Update Name</button><br>                                              
                            
                        -->


                        <!--this is a another example of effect in angular. 

                        <h1 style="text-align: center;">Effecs in Angular</h1><br>

                        <h2>{{count()}}</h2>

                        <button (click)="toggleValue()">Update Value</button>

                        @if (dispalyHeading) { 
                        <h1 style="background: darkmagenta;">Page heading</h1>
                        }

                        -->















                        <!--    Lecture 23 :   FOR LOOP CONTEXTUAL VARIABLES  -->

                        <!--    this is $index varible example 
                        <h1 style="text-align: center;">FOR LOOP CONTEXTUAL VARIABLES</h1>
                        <h2 style="text-align: center;">This is a Index Variable example </h2>
                        @for(val of users; track val){
                            <h3>This is my  {{$index + 1}} favourite cricketer and name is {{val}}</h3>
                        }

                        < ----    OR   WE CAN THIS WRITE LIKEK THIS WE DEFINFD VARIBALE FOR THE INDEX-->
                    <!--
                        @for(val of users; track val; let i = $index){
                            <h3>This is my  {{i + 1}} favourite cricketer and name is {{val}}</h3>
                        }
                    -->


                    <!--  this is a $first variable and $last variable  example 

                    <h1 style="text-align: center;">FOR LOOP CONTEXTUAL VARIABLES</h1>
                    <h2 style="text-align: center;">This is a $first variable and $last variable example </h2>

                        @for(val of users; track val; let i = $index; let f = $first; let l = $last){

                            @if(f || l){
                                <h3 style="background-color: red;">This is my  {{i + 1}} favourite cricketer and name is {{val}}</h3>
                            }

                            @else {
                                <h3>This is my  {{i + 1}} favourite cricketer and name is {{val}}</h3>
                            }
                    -->


                    <!--  this is a $odd  variable and $even variable  example

                    <h1 style="text-align: center;">FOR LOOP CONTEXTUAL VARIABLES</h1>
                    <h2 style="text-align: center;">This is a $odd variable and $even variable example </h2>

                    @for(val of users; track val; let i = $index){

                        @if($odd){
                            <h3 style="background-color :blueviolet;">This is my  {{i}} favourite cricketer and name is {{val}}</h3>
                        }
                        @else {
                            <h3 style="background-color:chocolate">This is my  {{i}} favourite cricketer and name is {{val}}</h3>
                        }
                    }
                    -->


                    <!--  this is a $first variable and $last variable  example 

                    <h1 style="text-align: center;">FOR LOOP CONTEXTUAL VARIABLES</h1>
                    <h2 style="text-align: center;">This is a $count variable example 
                    </h2>

                    @for(val of users;track val;let i = $index){
                        <h3>this is my favourite cricketer and name is {{val}}</h3>
                        <h3>total my favourite cricketer is {{$count}}</h3>
                    }

                    -->


                    <!--  this is for empty block in for loop in angular 

                    <h1 style="text-align: center;">FOR LOOP CONTEXTUAL VARIABLES</h1>
                    <h2 style="text-align: center;">empty block example in for loop
                    </h2>

                    @for(val of users;track val;let i = $index){
                        <h3>this is my favourite cricketer and name is {{val}}</h3>
                    }

                    @empty {
                        <h2 style="text-align: center; background-color: crimson;">Data is not avilable</h2>
                    }
            -->













            <!--Lecture 24 : Two way binding in angular

            <h1 style="text-align: center;">Two Way Binding in Anhular</h1>


            <input  [(ngModel)]="name" type="text" placeholder="enter name ">

            <h2>{{name}}</h2>



            /////  this example for two way binding  wihout ngmodel  

            <h1 style="text-align: center;">Two Way Binding in Angular without ngmodel</h1>
            <input type="text" (input)="updateName($event)" placeholder="enter user name ">

            <h2>{{myname}}</h2>

            -->

















        <!--    Lecture 25  : TO DO LIST IN ANGULAR       

        <h1 style="text-align: center;">To Do List in Angular.</h1>

        <input type="text" [(ngModel)] = "task" placeholder="Enter New Task">

        <button style="margin-left: 50px; background-color :coral;"   (click)="addTask()">Add Task</button>


        @for(val of taskList ; track  val.id){
            <ul class="tasklist">
                <li>{{val.id}}</li>
                <li>{{val.task}}</li>
                <li><button (click)="deleteTask(val.id)">Delete</button></li>
                </ul>
                
        }

        -->


















        <!--   Lecture :  26  DYNAMIC STYLE IN ANGULAR     -->


        <!--    basic syle                                              <h1 style="text-align: center; background-color: crimson;">Dynamic Style in Angular</h1>
        -->



        <!--           it is a dynamic style 
                
        <h1 style="text-align: center;" [style.backgroundColor]="bgCOlor" [style.fontSize]="fonts" >Dynamic Style in Angular</h1> <hr>

            -->


        <!--                    Dynamic style  with condition   

        <h1>Dynamic Style with Condition </h1>

        <h2 [style.fontSize]="zoom ? bigFonts : smallFOnts ">My Haeding</h2>

        //////  also you can write below line of code instead of this line code no output changed

        <h2 [style.fontSize]="zoom ? '80px' : '20px' "> My Heading </h2><hr>
        -->


        <!--                 Dynamic style  with button click   

        <h1>Dynamic Style with Button </h1>

        <h2 [style.fontSize]="effect ? mybigFonts : mysmallFOnt" style="background-color: coral;">Update Heading</h2>

        <button (click)="updateButton()">Update Value</button>
        -->













                



        <!--          Lecture 27 : Directives in Angulrar      


        <h1 style="text-align: center;">Directives in Angular</h1>  

        <h2 *ngIf="show">Angular Series</h2>

        -->




















        <!--     Lecture 28 : *ngFOr Directives in Angular     

        ------    example of ngFor with array    ------------ 

        <h1 style="text-align: center;">*ngFOr Directives in Angular</h1>

        <h2 style="background-color :deeppink; text-align: center;"> example of ngFor with array</h2>

        <ul>
            <li *ngFor="let x of players" >
            {{x}}
            </li>
        </ul>
        <hr>



        ------------ example of ngFor with array of object  -----------

        <h1 style="text-align: center;">*ngFOr Directives in Angular</h1>

        <h2 style="background-color: coral; text-align: center;"> example of ngFor with array of object</h2>

        <ul>
            <li *ngFor="let y of playersData">  
                {{y.name}}
                {{y.age}} years and his city name is 
                {{y.city}}
            </li>           
        </ul>





        -------------  Nesdted loop in Angualr    --------------    
        <h2 style="background-color: darkmagenta; color: wheat; text-align: center;">Nested Loop in Angular.</h2>


        <ul>
        <li *ngFor="let student of data">
            <b>{{student.name}}</b>

            <ul>
                <li *ngFor="let x of student.subject">
                    <h2>{{x}}</h2>
                    </li>
                </ul>
            </li>
        </ul>
        -->


















        <!--       Lecture 29 : ngIf Directives in Angular.   

        ---   it is a very simple example of ngif directives  ------
        <h1 style="text-align: center; background-color: deeppink;">ngIf directive in angular </h1>

        <h2 *ngIf="show">my heading</h2>



        -------------  example of  ngIf used in condition  ------------

        <h1 style="text-align: center; background-color: deeppink;">ngIf directive in angular </h1>

        <div *ngIf="login; else elseBlock">
        <a href="/">Logout</a><br><br>
        </div>

        <ng-template #elseBlock>
            <a href="/">Login</a>
        </ng-template>



        --------  example of ngIf directive in multiple condition   -------

        <h1 style="text-align: center; background-color: deeppink;">ngIf directive in angular </h1>

        <div *ngIf="val == 0">
            <h2>this is my value </h2>
        </div>

        <div *ngIf="val == 1">
        <h2> this is my first value </h2>
        </div>

        <div *ngIf="val == 2">
            <h2> this is my second value </h2>
        </div>

        <div *ngIf="val == 3">
            <h2>this is my third value </h2>
        </div>

        <div *ngIf="val == 4">
            <h2>this is my fourth value </h2>
        </div>

        <button (click)="updateValue()">Update Value</button>
        -->













        <!---   Lecture 30 : ngSwitch Directive in Angular    

        <h1 style="text-align: center; background-color:chartreuse">
        ngSwitch Directive in Angular</h1>

        <div [ngSwitch]="color">
            <h2 *ngSwitchCase=" 'cyan' " 
            style="background-color:cyan;">Heading 1</h2>

            <h2 *ngSwitchCase=" 'lightgreen' " 
            style="background-color: lightgreen;">Heading 2</h2>

            <h2 *ngSwitchCase=" 'tomato' " 
            style="background-color: tomato;">Heading 3</h2>

            <h2  *ngSwitchCase=" 'hotpink' " 
            style="background-color: hotpink;">Heading 4</h2>

            <h2  *ngSwitchCase= " 'blueviolet' " 
            style="background-color: blueviolet;">Heading 5</h2>

            <h2  *ngSwitchDefault  =  " 'other' " style="background-color: black; color: white;">No Color Match</h2>
        </div>


        <button (click)="changeColor('cyan')" 
        style="margin-left: 20px;">Cyan</button>

        <button (click)="changeColor('lightgreen')"
        style="margin-left: 20px;">Lightgreen</button>

        <button (click)="changeColor('tomato')"
        style="margin-left: 20px;">Tomato</button>

        <button (click)="changeColor('hotpink')"
        style="margin-left: 20px;">Hotpink</button>

        <button (click)="changeColor('blueviolet')"
        style="margin-left: 20px;">Blueviolet</button>

        <button (click)="changeColor('other')"
        style="margin-left: 20px;">Otheer</button>

        -->
















        <!--   Basic Routing in Angular 

        <h1 style="background-color: lawngreen; text-align: center;" >Baisc Routing in Angular </h1>

        <ul>
        <li>
            <a routerLink="/login">login</a><br><br>
        </li>

        <li>
            <a routerLink="/about">About Us</a><br><br>
        </li>

        <li>
            <a routerLink="/contact">Contact Us</a><br>
        </li>
        </ul>
        <router-outlet>

        </router-outlet>
        -->













        <!-- Lecture 32 :   Header with Routing in Angular.   -->

        <!-- code write in login , about , contact ,and app,roues.ts file and header.html and .ts file and home.htmla and ts file -->

        <!--
        <h1 style="background-color: deepskyblue; text-align:center">
        Header with Routing in Angular.</h1> 


        --------   
        <app-header></app-header>

        <router-outlet></router-outlet>
        -->












        <!-- Lecture 33 : 404 page in Angular-->

        <!--  in this lecture we used code of lecture 32 and for this lecture code wrire in page-not-found.html file and app.roues.ts file    

        -->








        <!--    Lecture : 34  Pass Data form One Page to Another   -->

        <!--    code write in home.html  , profile.html , login.html , about.html , contact.html file-->







        <!--   Lecture : 35   Dynamic Routing in angular 

        <h2 style="text-align: center;">Dynamic Routing in angular</h2>

        -->





        <!--   Lecture 36 : Forms in angular   
        
        // this is a thory lecture so we can not write code of this lecture 

        -->







        <!--   // Lecture 37 : Basic Reactive Form in Angualr.     

        <h1 style="text-align: center; background-color: fuchsia;">Basic Reactive Form in Angualr</h1>

        <form action="" method="post">
        <input type="text" placeholder="Enter Name " [formControl] = "name" style="margin-left: 30px; margin-top: 20px;"><br><br>

            <input type="password" placeholder="Enter Password" [formControl]= "password" style="margin-left: 30px; margin-top: 20px0"><br><br>

            <button type="button" (click)="display()"               
            style="margin-left: 30px; margin-top: 20px; background-color: cyan;" >Login</button>


            <button type="button" (click)="setValue()"               
            style="margin-left: 30px; margin-top: 20px; 
            background-color:coral" >Set Value</button>
            
        </form>
        -->















        <!--  Lecture 38 : Form Grouping Reactive Form in Angualr.  

        <h1 style="text-align: center; background-color: deeppink;">Form Grouping Reactive Form</h1>

        <form  [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <input type="text" placeholder="Enter Name" formControlName = "name"><br><br>

            <input type="text" placeholder="Enter Password" formControlName="password"><br><br>

            <input type="text" placeholder="Enter Email Id " formControlName = "email"><br><br>

            <button>Submit</button>

            <button type="button" (click)="setValue()">Set Value</button>
        </form>

        ------------ this code for the value show in ui ---------

        <h2>{{this.profileForm.value.name}}</h2>
        <h2>{{this.profileForm.value.password}}</h2>
        <h2>{{this.profileForm.value.email}}</h2>

        -->


















        <!--    Lecture 39 : Reactive form Validation in Angular.   
        <h1 style="text-align: center; background-color:lawngreen">Reactive Form Validation</h1>

        <form  [formGroup]="profileForm" (ngSubmit)="onSubmit()">

        <input type="text" placeholder="Enter Name" formControlName =  "name">

        <span *ngIf="name?.hasError('required')">name is required.</span><br>
        <span class="error" *ngIf="name?.invalid && (name?.dirty || name?.touched)">
        Please enter user name.
        </span><br><br>


        <input type="text" placeholder="Enter Password" formControlName="password">
        <span *ngIf="password?.hasError('required')">password is required.</span><br>
        <span class="error" *ngIf="password?.invalid && (password?.dirty || password?.touched)">Please enter valid password.
        </span><br><br>


        <input type="text" placeholder="Enter Email Id " formControlName = "email">
        <span *ngIf="email?.hasError('required')">Email is required</span><br>
        <span class="error" *ngIf="email?.invalid && (email?.dirty || email?.touched)">Please enter valid email id</span>
        <br><br>

        <button>Submit</button>

        
        </form>


        --------------------------------------------

        -- it is only for practise in this lecture reactive form validation -     ---------- 
        <h1 style="text-align: center; background-color: lightseagreen;">Reacive Form </h1>

        <form [formGroup]="userForm" (onSubmit) = "submit()"    >
            <input type="text" placeholder="Enter user name" formControlName = "name"><br>
            <span class="display" *ngIf="name?.hasError('required')">Name is Required</span><br>
            <span  class="error" *ngIf="name?.invalid && (name?.dirty || name?.touched)">Please Enter Valid User Name 
            </span><br><br>


            <input type="password" placeholder="Enter your password" formControlName = "password"><br>
            <span class="display" *ngIf="password?.hasError('required')">Password is Required</span><br>
            <span class="error" *ngIf="password?.invalid && (password?.dirty || password?.touched)">Please Enter Valid Password</span>
            <br><br>

            <input type="text" placeholder="Enter your mobile no : " formControlName = "contact"><br>
            <span class="display" *ngIf="contact?.hasError('required')">Contact is Required</span><br>
            <span class="error" *ngIf="contact?.invalid && (contact?.dirty || contact?.touched)">Please Enter Valid Contact Number</span><br><br>


            <button (click)="submit()">Submit</button>
        </form>

        -->


















        <!--       Lecture 40 : Template Driven Form in Angular.  

        <h1 style="text-align: center; background-color: orangered;">Template driven Form in Angular</h1>


        <form #userForm = "ngForm" (ngSubmit)="addDetails(userForm.value)">
            <input type="text" placeholder="enter name" name = "name" ngModel><br><br>

            <input type="password" placeholder="enter password" name = "password" ngModel><br><br>

            <select name="Gender" ngModel>
                <option value="">Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select><br><br>

            <input type="range" min = "0" max="20" name = "range" ngModel><br><br>

            <button>Add user</button>

        </form>

    <h3>{{userData?.name}}</h3>

    <h3>{{userData?.password}}</h3>

    <h3>{{userData?.Gender}}</h3>

    <h3>{{userData?.range}}</h3>

    -->





























    <!--     Lecture 41 : Template Driven Form Validation in Angular

    <h1 style="text-align: center; background-color:lightgreen">
    Template driven Form Validation</h1>


    <form #userForm="ngForm" (ngSubmit)="addDetails(userForm.value)">

    <input type="text"  #name = "ngModel"   required
    placeholder="enter name" name = "name" ngModel><br>
    <span class="error"*ngIf="name.invalid && name.touched"><br>
    Name is Required
    </span><br>


    <input type="password" minlength="5" maxlength="10" required #password = "ngModel"  
    placeholder="enter password" name = "password" ngModel><br>
    <span class="error" *ngIf="password.invalid && password.untouched">
        Please Enter Valid Password
    </span><br>


    <input type="email"  #email = "ngModel"  email
    placeholder="enter email id" name = "email" required ngModel><br>
    <span class="error" *ngIf="email.invalid && email.untouched">
        Please Enter Valid Email id
    </span><br>


    <input type="text" #address = "ngModel" pattern="[a-zA-Z0-9\s]+" 
    placeholder="enter address" name = "address" required ngModel><br>
    <span class="error"  *ngIf="address.invalid && address.untouched">Plese Enter Valid Address
    </span><br>


    <select  #gender="ngModel" required name="Gender" ngModel>
        <option value="">Select Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select><br><br>
    <span class="error" *ngIf="gender.invalid && gender.untouched">Please Select a Gneder</span><br>

    <input type="range" min = "0" max="20" name = "range" ngModel><br><br>

    <button [disabled]="userForm.invalid"> Add user</button>

    </form>

    <h3>{{userData?.name}}</h3>

    <h3>{{userData?.password}}</h3>

    <h3>{{userData?.Gender}}</h3>

    <h3>{{userData?.email}}</h3>

    <h3>{{userData?.address}}</h3>

    <h3>{{userData?.range}}</h3>

    -->



















    <!-- Lecture 42 :Pass Data Parent to Child Component in Angular -->

    <!--  other code writed in user.ts file , user.html file for this lecture   
    <h1 style="text-align: center; background-color: lightcoral;">Pass Data Parent to Child Component</h1>


    -------------- static data pass in parent to child component

    <app-user user="yuvraj singh"></app-user> 
    --------------


    --------    dynamic data pass and pass value with drop down  in parent  to child component  --------

    <app-user [userName]="userName" [city]="city"></app-user>

    <select #selectedUser (change)= "changeUser(selectedUser.value)" >
        <option value="">player name</option>
        <option value="sachin">sachin</option>
        <option value="virat kholi">virat kholi</option>
        <option value="dhoni">dhoni</option>
        <option value="hardik pandya">hardik pandya</option>
        <option value="axar patel">axar patel</option>
        <option value="bumrah">bumrah</option>
    </select>


    <select #selectcity (change)="changeCity(selectcity.value)" >
        <option value="">city</option>
        <option value="bombay">bombay</option>
        <option value="delhi">delhi</option>
        <option value="ranchi">ranchi</option>
        <option value="surat">surat</option>
        <option value="ahmdabad">ahmdabad</option>
        <option value="aanad">aanad</option>
    </select>
    -->













    <!--    Lecture 43 : Reuse componnet in angular.



        other code write in user.ts file and user.html file  
    <h1 style="text-align: center; background-color: darkviolet;">Reuse Component in Angular</h1>



    @for (i of user; track i) {
        <div>   
            <app-user [i]="i"></app-user>
        </div>
    }
    -->
















    <!--  Lecture 44 : Pass Data child to parent component in angular  -->

    <!--   onther code of this lecture in user.ts file and user.html file

    <h1 style="text-align: center; background-color:coral">Pass data Child to Parent Componenet</h1>

    <app-user (getUser)="handleUser($event)"></app-user>


    <h2>
        @for(i of user; track i){
            {{i}}<br>
        }
    </h2>
    -->















    <!--  Lecture 45 : Pipes in Angular   

    <h1 style="text-align: center; background-color: hotpink;">Pipes in Angular</h1>

    <h2>{{title}}</h2>
    <h2>{{title | uppercase}}</h2>
    <h2>{{title | titlecase}}</h2><br>
    <hr>


    <h2>{{name}}</h2>
    <h2>{{name | lowercase}}</h2>
    <h2>{{name| titlecase}}</h2><br>
    <hr>

    <h2>{{date}}</h2>
    <h2>{{date | date}}</h2>
    <h2 style="background-color: lightcoral;">pipes with parametres example </h2>
    <h2>{{date | date : 'fullDate'}}
    </h2>
    <h2>{{date | date :  'hh : mm : ss'}}</h2><br>
    <hr>

    <h2 style="background-color: lightskyblue;">pipes also used in currency</h2>

    <h2>{{amount | currency}} bydefalult currency in doller</h2> 

    <h2>{{amount | currency : 'INR'}} : it is indian currency we change usig the pipes</h2><hr>


    ----------------  apply multiple pipes ----------------------
    <h2 style="background-color: lightgreen;">it is multiple pipes example: </h2>
    <h3> two pipes is used date pipe and titlecase pipe </h3>

    <h2> {{date | date : 'fullDate' | titlecase}}
    </h2>
    -->














    <!--  // Lecture 46 :  Pipe in angular. 
    //  other code is write in currencyconverter.pipe file

    <h1 style="text-align: center; background-color: darkorange;">Custom Pipe in Angular</h1>

    <h2>{{amount | currencyconverter}}</h2><br><hr>

    <h2 style="text-align: center;">custom pipes with params</h2>

    <h2>{{amount | currencyconverter :13}}</h2>


    <h2>pass the data   </h2>
    -->















    <!--  Lecture 47 : Component Life Cycle Method in Angular 

    ---- we used in this example user.html and user.ts file


    <h1 style="text-align: center; background-color: darkcyan;">Component Life Cycle Method in Angular</h1>



    ------  this code write for destroy componet run that's why we used this code
    ------

    // this code for constructor , ngOnInit and ngDestroyed

    <button (click)="updateCount()">count {{count}}</button>

    <div *ngIf="count != 5">
    <app-user></app-user>
    </div>
    <h2>{{count}}</h2>
    ----------


    ---------
    this code for onchanges() method 
    <button (click)="updaateCounter()">counetr : {{counter}}</button>
    <div *ngIf="counter != 5">
    <app-user [counter]="counter"></app-user>
    </div>
    -------

    ------
    this code for the afternextRender and afterRender 
    <button (click)="updatecounter()">count : {{counter}}</button>
    <div *ngIf="counter >= 0">
        <app-user [counter]="counter" #user></app-user>
    </div>
    -->
















    <!---  Lecture 48 : Services in Angular-->

    <!--   we write code in product.service.ts file 


    <h1 style="text-align: center; background-color: lawngreen;">Services in Angular</h1>

    ----  if you display data with button click you are used this code  -----

    <button (click)="getproductData()">load data</button>


    @for (item of productData; track  item){
        <h2>my item name is : {{item.name}} and it's brand name is {{item.barnd}} and price is {{item.price}}</h2>
    }

    -->













    <!--  Lecture 49 : API in Angular

    <h1 style="text-align: center; background-color: magenta;">API in Angular</h1>

    ----
    it is a theory lectuer in thid lecture we not write code so no code avilable for this lectuer 
    -----
    in this lecture we learned theory concept and we write code in next lecture 
    -->
















    <!--  Lecture 50 : REST API call Services in Angular
    we used the productservice.ts file is used in this lecture  


    <h1 style="text-align: center; background-color: cornflowerblue;"> REST API call Services in Angular</h1>


    @for(item of productdata; track item.id){

        <ul>
            <li><b>name : </b>{{item.title}}</li>

            <li><b>price : </b>{{item.price}}</li>

            <li><b>category : </b>{{item.category}}</li>

            <li><b>stock : </b>{{item.stock}}</li>

            <li><b>rating : </b>{{item.rating}}</li>

            <li><img src="{{item.thumbnail}}" alt=""></li>

        </ul>
    }
    -->















    <!--   Lecture 51 : Install JSON Server and make API  
    
    // in this lecture we install json server and make api all the conetnt and learned about this lecture is in db.json file in api folder in my_angulrar

    and other explination is in word file which is angular_paart2 Lecture no 51 : 

    in this lecture we created api which name is user

    -->


























<!--  Lecture 52 : Integrate JSON Server API
    
// in this lecture we used same api whcih is make in our previous lecture and name it is user
and we used service which is my-user.service.ts file


<h1 style="text-align: center; background-color: aqua;">Integrate JSON Server API</h1>

@for (i of users ; track i){
<h2>user name is {{i.name}} and his age is {{i.age}} and his email id is {{i.email}}</h2>
}
-->













<!--  Lecture 53 : Define data type for API result   
in this lecture we used same api whcih is make in our previous lecture and name it is user also we used interface in this lecture and used my-user.ts file for interface and my-user.services.ts file for service

// we used same code and same api which is used in previous lecture 

<h1 style="text-align: center; background-color: magenta;">Define Data Type for API Result</h1>

@for (i of users ; track i){
<ul>
    <li>
        {{i.name}}
    </li>

    <li>
        {{i.age}}
    </li>

    <li>
        {{i.email}}
    </li>
</ul>
 }
-->














<!-- Lecture 54 : POST API in angular 
 in this lecture we used same api whcih is make in our previous lecture and name it is user also we used interface in this lecture and used my-user.ts file for interface and my-user.services.ts file for service

// we used same code and same api which is used in previous lecture 
 


<h1 style="text-align: center; background-color: darkcyan;">POST API in angular </h1>

<form #userForm="ngForm" (ngSubmit)="addUser(userForm.value)">

    <input type="text" placeholder="enter name" name="name" ngModel><br>

    <input type="number" placeholder="enter age" name="age" ngModel><br>

    <input type="email" placeholder="enter email id" name="email" ngModel><br>


    <button>add user</button>   
    
 </form>
 <hr>

@for (i of users ; track i){
<ul>
    <li>
        {{i.name}}
    </li>

    <li>
        {{i.age}}
    </li>

    <li>
        {{i.email}}
    </li>
</ul>

 }

-->












<!--   Lecture 55 : Delete API in Angular.

//  in this lecture we used same api whcih is make in our previous lecture and name it is user also we used interface in this lecture and used my-user.ts file for interface and my-user.services.ts file for service

// we used same code and same api which is used in previous lecture 
 



<h1 style="text-align: center; background-color: lightsalmon;">Delete API in Angular</h1>

 
<form #userForm="ngForm" (ngSubmit)="addUser(userForm.value)">

    <input type="text" placeholder="enter name" name="name" ngModel><br>

    <input type="number" placeholder="enter age" name="age" ngModel><br>

    <input type="email" placeholder="enter email id" name="email" ngModel><br>


    <button class="user">add user</button>   
    
 </form>
 <hr>

@for (i of users ; track i){
<ul>
    <li>
        {{i.name}}
    </li>

    <li>
        {{i.age}}
    </li>

    <li>
        {{i.email}}
    </li>

    <li>
        <button class="delete" (click)="deleteUser(i.id)">
            Delete</button>
    </li>
</ul>
}

-->















<!--   Lecture 56 : Populate Data in input fields with API

//in this lecture we used same api whcih is make in our previous lecture and name it is user also we used interface in this lecture 
 // we used same code and same api which is used in previous lecture and used my-user.ts file for interface and my-user.services.ts file for service



<h1 style="text-align: center; background-color: deeppink;">Populate Data in input fields with API</h1>

<form #userForm="ngForm" (ngSubmit)="addUser(userForm.value)">

    <input type="text" placeholder="enter name" name="name" [ngModel]="updateUser?.name"><br>

    <input type="number" placeholder="enter age" name="age" [ngModel]="updateUser?.age"><br>

    <input type="email" placeholder="enter email id" name="email" [ngModel]="updateUser?.email"><br>


    @if (!updateUser) {
        <button class="user">add user</button>   
    }
    @else {
        <button class="update">Update User</button>
    }
    

    
 </form>
 <hr>

@for (i of users ; track i){
<ul>
    <li>
        {{i.name}}
    </li>

    <li>
        {{i.age}}
    </li>

    <li>
        {{i.email}}
    </li>

    <li>
        <button class="delete" (click)="deleteUser(i.id)">
            Delete</button>
    </li>


    <li>
        <button class="update" (click)="selectUser(i.id)">
            Update User
        </button>
    </li>
</ul>
}
-->














<!--   Lecture 57 : Upadate data with PUT API method

//in this lecture we used same api whcih is make in our previous lecture and name it is user also we used interface in this lecture 
 // we used same code and same api which is used in previous lecture and used my-user.ts file for interface and my-user.services.ts file for service


<h1 style="text-align: center; background-color:coral">
    Upadate data with PUT API method</h1>

<form #userForm="ngForm" (ngSubmit)="addUser(userForm.value)">

    <input type="text" placeholder="enter name" name="name" [ngModel]="updateUser?.name"><br>

    <input type="number" placeholder="enter age" name="age" [ngModel]="updateUser?.age"><br>

    <input type="email" placeholder="enter email id" name="email" [ngModel]="updateUser?.email"><br>


    @if (!updateUser) {
        <button class="user">add user</button>   
    }
    @else {
        <button class="update">Update User</button>
    }
    

    
 </form>
 <hr>

@for (i of users ; track i){
<ul>
    <li>
        {{i.name}}
    </li>

    <li>
        {{i.age}}
    </li>

    <li>
        {{i.email}}
    </li>

    <li>
        <button class="delete" (click)="deleteUser(i.id)">
            Delete</button>
    </li>
 

    <li>
        <button class="update" (click)="selectUser(i.id)">
            Update User
        </button>
    </li>
</ul>
}

-->

















<!-- Lecture 58 :  Route Lazy Loading in Angular 
 code write in app.roues and admin.ts and admin.html file
-->

<h1 style="text-align: center; background-color: orange;">
Route Lazy loading in angular</h1>

<a routerLink="/admin">go to admin</a>
<router-outlet></router-outlet>
