

<!--  Lecture : 35   Dynamic Routing in angular    

<h1>Welcome to My User Page , </h1><br><br>

<h2 style="text-align: center; background-color: crimson;">The User Name is : {{name}}</h2>
-->












<!-- Lecture 42 :Pass Data Parent to Child Component in Angular 

  other code writed in app.ts file , app.html file for this lecture
-->

<!--   static data 
<h2>my idol is:  {{user}}</h2>
------------------------------


  -----   dynamic data pass and pass value with drop down  in parent  to child component  ------

<h2 >user name is :  {{userName}}</h2>

<h2>city name is : {{city}}</h2>
-->












<!--   Lecture 43 : Reuse componnet in angular. -->

<!--  other code write in app.ts file and app.html file  

<h2>user name is 
    <span>
        {{i}}
    </span>
</h2>
-->

















<!-- Lecture 44 : Pass Data child to parent component in angular  
//  onther code of this lecture in app.ts file and app.html file 


<h2>user data</h2>

   ------- ss data with button   ----------

<button style="background-color: lightcoral; margin-left: 30px;"
(click)="getUser.emit(user)">pass data 1 </button> 

<button style="background-color: lightseagreen; margin-left: 30px;"
 (click)="loadData()">pass data 2</button>


<button>go to data</button><br><br>

-->












<!--  Lecture 47 : Component Life Cycle Method in Angular 

---- we used in this example app.html and app.ts file

----
<h2>user page</h2>

<h3>{{name}}</h3>
----


-----this code for ngonchages method
<h2>{{counter}}</h2>

 ----- this for afterRender and afterNextRender method   ----
<h2>{{counter}}</h2>
-->