    <!--     this code for style option in angula
        <h1>Profile page</h1>

        <h1>it is my heading tag</h1>

        <button>Logout</button>

    -->



    <!--   Lecture : 34  Pass Data form One Page to Another -->

    <!--  this beleow code for pass data with router link

    <h1>Hello , Welcome {{userName}} sir in our Hotel.</h1>
-->


    <!-- pass data with button click 

    <h1>hello , welcome {{userName}} sir </h1>

    -->

    <!-- data pass with router example   

    <h1>Good Morning , {{userName}} sir </h1>
     
    -->    







    <!-- Lecttuer 35 : Dynamic Routing in angular    -->


    